main{
    margin:2rem;
    display: flow-root;
    justify-content: flex-start;
    font-family: 'Spartan', sans-serif;
}

.attribution {
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.attribution a {
    color:blue
}

.header{
    flex-direction: column;
    width: 40%;
    color:hsl(300, 43%, 22%);
    font-size: larger;
    font-weight: bolder;
}

.top-of-page{
    display: flex;
    justify-content: space-around;
   
}
.comment-parts{
    display: flex;
    
}
.comment{
    background-color:hsl(300, 43%, 22%);
    color: white;
    border-radius: 10px;
    font-size: smaller;
    width: 33.33%;
    padding: 20px;
    margin: 1.2rem;
    text-align:justify;
    align-items:flex-start;
    
}
img{
    border-radius: 100%;
    margin: 10px;
    display: flex;
    float:left;
}
.rating-part h2{
    color:hsl(300, 43%, 22%);
    background-color: papayawhip; 
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
}

.icons {
    color:rgba(249, 181, 8, 0.947);
    font-size: 15px;
    display: flex;
}
.comment h2{
    padding-top: 10px;
}
.rating-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
div.rating{
    float: left;
}
@media screen and (min-width:1200px) {
    html{
        font-size: 11px;
    }
    .comment{
        width: 100%;
        margin: 1%;
        display: flex;
        flex-direction: column;
    }
   
    
}







